@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary-color: #5e3bee;
  --secondary-color: #000;
  --background-color: #f5fcff;
  --heading-color: #282938;
  --font-color: #1c1e53;
  --primary-font: "Roboto", sans-serif;

  --heading1: 4.5em;
  --heading2: 4em;
  --heading3: 2em;
  --text: 1.5em;
  --text2: 1.3em;
}

* {
  box-sizing: border-box;
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
  color: var(--secondary-color);
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 1.4em;
}

a.active {
  color: var(--primary-color);
}

button {
  cursor: pointer;
  border: 1px solid var(--primary-color);
  background-color: #fff;
  padding: 2em 2em;
  border-radius: 5px;
  font-weight: 500;
}

h1 {
  font-size: var(--heading1);
  font-weight: 900;
  line-height: 1.2em;
  padding-top: 0.6em;
  color: var(--heading-color);
}

h2 {
  font-size: var(--heading2);
  color: var(--heading-color);
  font-weight: 900;
}

h3 {
  font-size: var(--heading3);
  color: var(--heading-color);
  font-weight: 900;
}

h4 {
  font-size: var(--text2);
  color: var(--heading-color);
  font-weight: 900;
}

p {
  font-size: var(--text);
  padding-top: 0.4em;
}

/* ----------------------------------------------------------------------- NAVBAR */

.contact-button a {
  color: var(--primary-color);
}

.contact-button {
  width: 10rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 70px;
  padding: 20px 20px;
}

.header .logo img {
  width: 200px;
}

.header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

/* ----------------------------------------------------------------------- MAIN */

.main {
  background-color: var(--background-color);
  display: flex;
  padding: 5% 7% 0 3%;
  box-shadow: inset 0 20px 20px -22px rgba(0, 0, 0, 0.2);
  height: 100vh;
}

.main-text {
  width: 80%;
  margin-top: 7%;
}

.main-text p {
  width: 80%;
  line-height: 1.5em;
  color: var(--font-color);
}

.prp-text {
  color: var(--primary-color);
}

.touch-button {
  background-color: var(--primary-color);
  width: 11rem;
  margin-top: 3.5em;
}

.touch-button a {
  color: #fff;
  font-size: 1.6em;
}

.main-img {
  width: 100%;
  background-image: url("images/Main/Background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  padding: 1%;
}

/* ----------------------------------------------------------------------- EXPERTISE */

.expertise {
  padding: 10% 7% 0 3%;
  margin-bottom: 5em;
}

.expertise-title h2 {
  margin-top: 0.8em;
  margin-bottom: 2em;
}

.expertise-cards {
  display: flex;
  gap: 2em;
}

.expertise-card {
  background-color: var(--background-color);
  padding: 3%;
  border-radius: 10px;
}

.expertise-card:hover {
  box-shadow: 0 6px 2px -2px var(--primary-color);
}

.expertise-card:hover p {
  color: #1c1e53;
}

.expertise-card img {
  width: 5em;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1em;
  border-radius: 15px;
  margin-bottom: 2em;
}

/* ----------------------------------------------------------------------- ABOUT */

.about {
  background-color: #fff;
  display: flex;
  padding: 5% 7% 0 3%;
  height: 70em;
}

.about-text {
  margin-top: 15%;
  padding-left: 2%;
  display: flex;
  flex-direction: column;
}

.about-text h2 {
  margin-top: 0.8em;
}

.about-text p {
  line-height: 1.5em;
  color: var(--font-color);
  margin-top: 3%;
}

.about-img {
  width: 170%;
  background-image: url("images/About\ Me.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  padding: 1%;
}

/* ----------------------------------------------------------------------- PORTFOLIO */

.portfolio {
  padding: 10% 7% 0 3%;
  margin-bottom: 10em;
}

.portfolio-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.portfolio-title h2 {
  margin-top: 0.8em;
  margin-bottom: 2em;
}

.title-button button {
  border: none;
  background-color: #e62872;
  font-size: var(--text2);
  border-radius: 10px;
  color: #fff;
  padding: 10%;
  width: 12em;
  display: inline-flex;
  align-items: center;
}
.title-button button img {
  width: 2em;
  padding: 0 2% 0 0;
}

.portfolio-cards {
  display: flex;
  gap: 3em;
}

.portfolio-card {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding-bottom: 3em;
}

.portfolio-card img {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 2em;
}

.portfolio h3 {
  padding: 5%;
}

.portfolio p {
  padding: 0 5% 5% 5%;
}

.portfolio .dribble {
  display: flex;
  padding-left: 5%;
  padding-top: 3%;
}

.dribble a {
  font-weight: 900;
  padding-bottom: 3%;
  padding-right: 3%;
  border-bottom: 2px solid var(--primary-color);
}

.dribble img {
  margin: 0;
  width: 1.5em;
  padding-bottom: 3%;
  border-radius: 0%;
  border-bottom: 2px solid var(--primary-color);
}

/* ----------------------------------------------------------------------- TESTIMONIALS */

.testimonials {
  padding: 10% 7% 0 3%;
  margin-bottom: 5em;
  background-color: var(--background-color);
  padding-bottom: 10%;
}

.testimonials-title h2 {
  margin-top: 0.8em;
  margin-bottom: 2em;
}

.testimonials-cards {
  display: flex;
  gap: 3em;
}

.testimonials-card {
  border: 1px solid #006b6a;
  border-radius: 15px;
  padding-bottom: 3em;
}

.testimonials-card img {
  width: 40%;
  padding: 7%;
  border-radius: 15px;
}

.testimonials p {
  padding: 0 5% 5% 7%;
}

.testimonials .person {
  display: flex;
  padding-left: 5%;
}

.person img {
  margin: 0;
  width: 10em;
  border-radius: 0%;
  padding: 5%;
}

.person .details {
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
}

.person .details p {
  padding: 0%;
}

/* ----------------------------------------------------------------------- CONTACT */

.contact {
  display: flex;
  flex-direction: column;
  padding: 3% 7% 10% 3%;
  text-align: center;
}

.contact-text {
  margin-top: 2%;
}

.contact-text p {
  line-height: 1.5em;
  margin-top: 3%;
  color: var(--font-color);
}

.contact .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container form {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-top: 3em;
}

.top-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.5em 0;
}

.input-box:nth-child(2n) {
  justify-content: end;
}

.input-box {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 2em;
}

.input-box label {
  width: 95%;
  color: var(--heading-color);
  font-size: var(--text);
  font-weight: 400;
  margin: 1em 0;
  text-align: start;
}

.input-box input {
  height: 3em;
  width: 95%;
  border-radius: 10px;
  font-size: var(--text);
  border: 1px solid var(--primary-color);
  padding: 0 1%;
}

.bot-input {
  display: flex;
  flex-direction: column;
}

.topic {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 2em;
}

.topic label {
  width: 100%;
  color: var(--heading-color);
  font-size: var(--text);
  font-weight: 400;
  margin: 1em 0;
  text-align: start;
}

.topic select {
  height: 3em;
  width: 100%;
  border-radius: 10px;
  font-size: var(--text);
  border: 1px solid var(--primary-color);
  padding: 0 1%;
}

.message {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 2em;
}

.message label {
  width: 100%;
  color: var(--heading-color);
  font-size: var(--text);
  font-weight: 400;
  margin: 1em 0;
  text-align: start;
}

.message textarea {
  height: 10em;
  width: 100%;
  border-radius: 10px;
  font-size: var(--text);
  border: 1px solid var(--primary-color);
  padding: 1%;
  resize: none;
}

.terms {
  display: flex;
  width: 100%;
  padding-bottom: 2em;
  justify-content: center;
  align-items: center;
}

.terms label {
  width: 95%;
  color: var(--heading-color);
  font-size: var(--text);
  font-weight: 400;
  margin: 1em 0;
  text-align: start;
}

.terms input {
  height: 1.5em;
  width: 5%;
  padding: 1%;
}

form .submit {
  display: flex;
  justify-content: center;
}

.submit-button {
  background-color: var(--primary-color);
  width: 11rem;
}

.submit-button a {
  color: #fff;
  font-size: var(--heading3);
}

/* ----------------------------------------------------------------------- FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  padding: 3% 7% 6% 3%;
}

.footer .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5em;
}

.footer .logo img {
  width: 200px;
}

.footer nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.footer .social img {
  width: 3em;
}

.footer .bot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 3em;
}

/* ----------------------------------------------------------------------- RESPONSIVE */

@media screen and (max-width: 1000px) {
  .header .logo img {
    width: 150px;
  }

  .header {
    flex-direction: column;
  }

  .header nav {
    flex-direction: column;
    padding: 20px 0;
  }

  .main {
    flex-direction: column;
  }

  .main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .main-img {
    height: 100%;
    background-position: center;
    margin-top: 7em;
    margin-bottom: 3em;
    scale: 1.5;
  }

  .expertise-cards {
    flex-direction: column;
  }

  .about {
    flex-direction: column;
  }

  .about-img {
    height: 100%;
    width: 100%;
    margin-top: 7em;
    scale: 1.5;
    background-position: center;
  }

  .portfolio-cards {
    flex-direction: column;
  }

  .portfolio-title {
    margin-top: 5em;
  }

  .testimonials-cards {
    flex-direction: column;
  }

  .footer .logo img {
    width: 150px;
  }

  .footer {
    flex-direction: column;
  }

  .footer nav {
    flex-direction: column;
    padding: 20px 0;
  }
}
